.field-form{
    display: inline;
}
.field-form-metade{
    display: inline-block;
     width: 48%;
     margin-left: 1%;
}

.example-card {
    width: 80%;
    margin: 5% 10%;
}

.margin-radio{
    margin: 2%;
}

  
// ::ng-deep mat-form-field .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//     width: 99% !important;
// }

