.field-form{
    display: inline-block;
    width: 48%;
    margin-left: 1%;
}
.field-form-25{
    display: inline-block;
    width: 24%;
    margin-left: 1%;
}
.field-form-date{
    display: inline-block;
    width: 46%;
    margin-left: 1%;
}

.example-card {
    width: 80%;
    margin: 2% 10%;
}

.field-form-metade{
    display: inline-block;
     width: 48%;
     margin-left: 1%;
}